{% extends 'base.html' %}
{% load staticfiles %}
{% block lunbo %}
{% endblock %}
{% block css %}
    <style>
        input{height: 50px;width: 300px;}
    </style>
{% endblock %}
{% block content %}
    <div class="login-form container" style="margin-left: 18%">
    <form class="sign-in-htm" id="login_form" method="post">
        <div class="group col-xs-9">
            <label for="password1" class="label">新的密码</label>
            <input type="password" placeholder="请输入新的密码" name="password1" class="input">
        </div>
        <div class="group col-xs-9">
            <label for="password2" class="label">确认密码</label>
            <input type="password" placeholder="请再次输入密码" name="password2" class="input">
        </div>
        <div class="group col-xs-9" style="margin-top: 35px">
            <button type="submit" class="button">提交</button>
        </div>
        <div class="group col-xs-9" style="text-align: center"><h2>{{ msg }}</h2></div>
    </form>
    </div>




{% endblock %}