
ul li a.navbar-brand {
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 13px;
    font-size: 16px;
    color: whitesmoke !important;
}

ul li a.navbar-brand:hover {
    color: ghostwhite !important;
    background-color: #015231 !important;
}