{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    投递须知
{% endblock %}
{% block lastac %}class="active" {% endblock %}
{% block css %}
    <link rel="stylesheet" href="http://www.lvsediqiu.com/static/css/style_cms.css" type="text/css" media="screen, print">
    <link rel="stylesheet" href="http://www.lvsediqiu.com/static/css/style_ge.css" type="text/css" media="screen, print">
{% endblock %}
{% block content %}
    <img class="icon" src="{% static 'img/投递.jpg' %}">
{% endblock %}