{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    趣味视频
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">#}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <section class="content">
        <!-- newest video -->
        <div class="main-heading">
            <div class="row secBg padding-14">
                <div class="medium-8 small-8 columns">
                    <div class="head-title">
                        <i class="fa fa-film"></i>
                        <h4>Newest Videos</h4>
                    </div>
                </div>
                <div class="medium-4 small-4 columns">
                    <ul class="tabs text-right pull-right" data-tabs id="newVideos">
                        <li class="tabs-title is-active"><a href="#new-all">all</a></li>
                        <li class="tabs-title"><a href="#new-hd">HD</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row secBg">
            <div class="large-12 columns">
                <div class="row column head-text clearfix">
                    <p class="pull-left">All Videos : <span>1,862 Videos posted</span></p>
                    <div class="grid-system pull-right show-for-large">
                        <a class="secondary-button current grid-default" href="#"><i class="glyphicon glyphicon-th"></i></a>
                        <a class="secondary-button grid-medium" href="#"><i
                                class="glyphicon glyphicon-th-large"></i></a>
                        <a class="secondary-button list" href="#"><i class="glyphicon glyphicon-th-list"></i></a>
                    </div>
                </div>
                <div class="tabs-content" data-tabs-content="newVideos">
                    <div class="tabs-panel is-active" id="new-all">
                        <div class="row list-group">
                            {% for i in list0 %}
                            <div class="item large-3 medium-6 columns group-item-grid-default">
                                <div class="post thumb-border">
                                    <div class="post-thumb">
                                        <img src="{{ i.4 }}" alt="new video">
                                        <a href="/article/interest_con/{{ i.1 }}" class="hover-posts" target = "_blank">
                                            <span><i class="glyphicon glyphicon-play-circle"></i>播放</span>
                                        </a>
                                        <div class="video-stats clearfix">
                                            <div class="thumb-stats pull-right">
                                                <span>{{ i.5 }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-des">
                                        <h6><a href="" target = "_blank">{{ i.3 }}</a>
                                        </h6>
{#                                        <div class="post-summary">#}
{#                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem#}
{#                                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab#}
{#                                                illo inventore veritatis et quasi architecto beatae vitae dicta sunt#}
{#                                                explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut#}
{#                                                odit aut fugit, sed quia consequuntur magni dolores eos qui ratione#}
{#                                                voluptatem sequi nesciunt.</p>#}
{#                                        </div>#}
                                        <div class="post-button">
                                            <a href="" class="secondary-button"><i
                                                    class="glyphicon glyphicon-play-circle"></i>播放</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        <div class="page_btn">
                        {{ pages_i.a_page|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="{% static "js/jquery-3.4.1.js" %}"></script>
    <script src="{% static 'js/foundation.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/layerslider.kreaturamedia.jquery.js' %}" type="text/javascript"></script>
{% endblock %}

