{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}娱乐天地{% endblock %}
{% block css %}
<!--布局样式，意义不大-->
<link rel="stylesheet" href="{% static 'css/demo.css' %}">
<!--核心样式-->
<link rel="stylesheet" href="{% static 'dist/css/ckin.css' %}">

<script src="{% static 'dist/js/ckin.js' %}"></script>

<style type="text/css">
li p {
    font-size: 30px;
}
section div p {
    font-size: 30px;
}

.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
}

.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

</style>

{% endblock %}
{% block interestac %}class="active"{% endblock %}
{% block content %}
<section class="demo-section demo-section--light" id="demo">
	<div class="container">
		<h2 class="title heading">Custom HTML5 Video Player with Ckins...</h2>
        <div class="aspect-ratio">
    <iframe src="https://player.bilibili.com/player.html?aid=63363174&page=1" scrolling="no" border="0"
            frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
</div>
{#		<video poster="ckin.jpg" src="https://player.bilibili.com/player.html?aid=63363174&page=1" data-ckin="default" data-overlay="1" data-title="The curious case of Chameleon..."></video>#}
		<p class="tr">Demo video by
			<a href="https://vimeo.com/lumatic" target="_blank">Lumatic</a>
		</p>

	</div>
</section>

<section class="demo-section demo-section--light" id="skins">
	<div class="container">
		<h2 class="title heading">Skins</h2>
		<ul class="demo-list">
			<li class="demo-list__item">
				<p>Default Ckin without overlay</p>
				<div class="aspect-ratio">
    <iframe src="https://player.bilibili.com/player.html?aid=63363174&page=1" scrolling="no" border="0"
            frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
</div>
			</li>
			<li class="demo-list__item">
				<p>Minimal Ckin with overlay</p>
				<div class="aspect-ratio">
    <iframe src="https://player.bilibili.com/player.html?aid=63363174&page=1" scrolling="no" border="0"
            frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
</div>
			</li>
			<li class="demo-list__item">
				<p>Compact Ckin with overlay</p>
				<div class="aspect-ratio">
    <iframe src="https://player.bilibili.com/player.html?aid=63363174&page=1" scrolling="no" border="0"
            frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
</div>
			</li>
			<li class="demo-list__item">
				<p>Compact Ckin with custom color</p>
				<div class="aspect-ratio">
    <iframe src="https://player.bilibili.com/player.html?aid=63363174&page=1" scrolling="no" border="0"
            frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
</div>
			</li>
			<li class="demo-list__item">
				<img src="logo.png" class="nav__logo" alt="Ckin">
				<h2 class="coming-soon">More ckins coming soon...</h2>
			</li>
		</ul>
	</div>
</section>


{% endblock %}