<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap-theme.css">
</head>
<body>
<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<script src="http://cdn.staticfile.org/jquery/1.9.1/jquery.min.js"></script>
<link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
<body>
<div class="container">
    <div id="vd"></div>
    <audio id="player" autoplay="autoplay" src="http://player.bilibili.com/player.html?aid=57679051"></audio>
</div>
{#<script>#}
{#    function callbackfunction(j){#}
{#				var u = j.durl[0].url;#}
{#				$("#vd").html('<video width="680" height="376" src="'+u+'" preload="auto" autoplay="" controls="" class="embed-responsive-item"></video>')#}
{#				// $("#page1").attr("href",j.durl[0].url);#}
{#    }#}
{#    function parseVideo(id){#}
{#				$.getScript("http://api.bilibili.com/playurl?callback=callbackfunction&aid="+id+"&page="+1+"&platform=html5&quality=3&vtype=mp4&type=jsonp");#}
{#    }#}
{#    var id={{ id }}#}
{#    parseVideo(id)#}
{##}
{#</script>#}

</body>
</html>
</body>
</html>